<div class="mdc-card athlete-card">
        <div class="athlete-card-profile-image">
            <img src="<%= user.photos[0].value %>">
        </div>
        <div class="card-inner athlete-card-inner">
            <h2 class="athlete-card-inner--profile-name"><%= user.displayName %></h2>
            <p class="athlete-card-inner--profile-location"><%= athlete.city %>, <%= athlete.country %></p>
            <div class="athlete-card-inner-stats">
            <div class="icon-value-label athlete-card-inner-stats-commutes">
                <i class="icon material-icons mdc-list-item__graphic" aria-hidden="true">accessibility_new</i>
                <% let commutes = athlete.commutes.length; %>
                <span class="value commutes-value"><%= commutes %></span>
                <span class="label commutes-label">Commutes</span>
            </div>
            <div class="icon-value-label athlete-card-inner-stats-commutes">
                <i class="icon material-icons mdc-list-item__graphic" aria-hidden="true">accessibility_new</i>
                <span class="value commutes-value"><span>$</span><%= (mileMoneyBalance - totalRedeemed).toFixed(2) %></span>
                <span class="label commutes-label">Mile Money</span>
            </div>
            </div>
            <a href="https://www.strava.com/athletes/<%= athlete.id %>"><span class="strava-link">View on Strava</span></a>
        </div>
    </div><h2 class="yellowBg">Commute Costs</h2>
    <div class="commute-costs-wrapper">
      <div class="commute-costs-layout">
      <% if(athlete && athlete.commuteCosts) { %>
          <% athlete.commuteCosts.forEach(cost => { %>
      <div class="mdc-card commute-cost-card">
            <% if(cost.userCommute === 'Main commute cost'){ %>
                <span title="You cannot delete the main commute cost." class="delete-item"><i class="material-icons">grade</i></span>
            <% } else { %>
                <a href=<%= `/commute-costs-delete?id=${ cost._id }` %> class="delete-item"><i class="material-icons">clear</i></a>
            <% } %>
          <div class="card-inner commute-cost-card-inner">
            <div class="icon-wrapper"><i class="material-icons">commute</i></div>
            <h4><%= cost.userCommute %></h4>
            <div class="icon-value-label icon-value-label-centre">
                <i class="commute-cost-icon icon material-icons mdc-list-item__graphic" aria-hidden="true">commute</i>
                <span class="value commutes-value"><span>$</span><%= cost.totalCost %></span>
                <span class="label commutes-label">Per trip</span>
            </div>
          </div>
          <a href=<%= `/commute-costs-edit?id=${ cost._id }` %>>
              <div class="mdc-card__actions">
                <div class="mdc-card__action-icons">
                  <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Edit">edit</button>
                </div>
              </div>
            </a>
        </div>
        <% }) } %>
          
          <a href="/commute-costs"><div class="mdc-chip commute-cost-chip">
              <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">commute</i>
              <div class="mdc-chip__text">New commute cost</div>
              </div>
          </a>
    </div>
  </div>
  
