<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
<div class="bg-image" style="background-image: url('images/dashBoardBgImage.jpg');"></div>
<div class="wrapper">
	<div class="left">
		<%- include('./partials/commuteCosts'); -%>
	</div>
	<div class="main">
			<% if (messages.length > 0){ %>
                <p class="mdc-card flash-msg"><%= messages %><i class="material-icons flash-msg-clear">clear</i></p>
            <% } %>
		<%- include('./partials/mainBalance'); -%>
		<%- include('./partials/accountsBanner'); -%>
		<%- include('./partials/wishList'); -%>
	</div>	
	<div class="right">
		<%- include('./partials/commutesList'); -%>
	</div>
	<div class="mobile-tabs mdc-tab-bar" role="tablist">
		<%- include('./partials/mobileTabs'); -%>
	</div>
	<div class="wishlist-mobile-tab mobile-tab">
		<%- include('./partials/wishListMobileTab'); -%>
	</div>
	<div class="commuteCosts-mobile-tab mobile-tab">
		<%- include('./partials/commuteCostsMobileTab'); -%>
	</div>
	<div class="commutes-mobile-tab mobile-tab">
		<%- include('./partials/commutesMobileTab'); -%>
	</div>
</div>
<% } %>


