<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<div class="wrapper">
	<div class="left">
		<%- include('./partials/commuteCosts'); -%>
	</div>
	<div class="main">
		<%- include('./partials/mainBalance'); -%>
		<%- include('./partials/accountsBanner'); -%>
		<%- include('./partials/wishList'); -%>
	</div>	
	<div class="right">
		<%- include('./partials/commutesList'); -%>
	</div>
	<div class="mobile-tabs mdc-tab-bar" role="tablist">
		<%- include('./partials/mobileTabs'); -%>
	</div>
		
	</p>
	<p>
		
		
	</p>
	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>
</div>
<% } %>


