<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<p>
		
		<%- include('./partials/welcomeBanner'); -%>
	</p>
	<p>
		<%- include('./partials/commuteCosts'); -%>
	</p>

	<p>
		<%- include('./partials/wishList'); -%>
	</p>

	<p>
		<%- include('./partials/commutesList'); -%>
	</p>
	
<% } %>
