Commute list:
<% if(athlete && athlete.commutes) { %>
    <% const commutes = athlete.commutes %>
    <% commutes.forEach(commute => { %>
    <div>
        <h4>Commute</h4>
        <p><%= commute.commuteDate %></p>

        <% athlete.commuteCosts.forEach(cost => { %>
        <% if(cost.userCommute == commute.commuteCosts) { %>
        <p>Mile Money: <%= cost.totalCost %></p>
        <% } } ) %>
        <p>Mile Money account: <%= commute.account %></p>
        <p>Commute cost used: <%= commute.commuteCosts %></p>
        <p>Commute name: <%= commute.commuteName %></p>
        <p>Commute type: <%= commute.commuteType %></p>
        <p>Commute distance: <%= commute.distance / 1000 %></p>
        <a href=<%= `/commute/edit/${ commute.commuteId }` %>>Edit</a>
    </div>
    <% }) %>
<% } %>